.ant-col-4{
    background-color: #F9F6F4;
}

.ant-col-20{
    background-color: #F9F6F4;
}

.Menu{
    position: fixed;
}

.Menu__list{
    margin-top: 74px;
    padding-left: 33px;
    line-height: 26px;
    width: 252px;
    height: 56px;
}

.Logo__insight{
    margin-top: 17px;
    margin-left: 33px;
}

/* Menu list ul li*/

.Frame__list > li {
    display: flex;
    margin-bottom: 23px;
}

.Frame__list li{
    position: relative;
}

.Frame__list > li > a{
    color: #1E0D03;
    text-transform: uppercase;
}

.Frame__list  li  a {
    display: block;
    /* letter-spacing: 0.015em; */
    color: #1E0D03;
}


.Frame__list .Sub__tag li:hover a,
.Frame__list > li:hover > a{
    color: #fff;
    background-color:#FFB800;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px 16px 15px 24px;
    min-width: 100%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
}

.Frame__list > li:hover .Sub__tag {
    display: block;
    /* padding: 15px 15px 15px 24px; */
    width: 90%;
    position: absolute;
    /* top: 80%; */
    left: 9.8%;
}

.Frame__list .Sub__tag{
    display: none;   
    position: absolute;
    top: 100%;
    left: 31.7%;
    list-style: none;
    text-align: center;
}

.icon{
    display: inline-block;
    padding: 5px 10px 5px 0px;
    opacity: .6;
    background: none;
    line-height: 26px;
}

