.ant-col-4{
    background-color: #F9F6F4;
}

.ant-col-20{
    background-color: #F9F6F4;
}

.Menu{
    position: fixed;
    height: 100%;
}

.Menu__list{
    margin-top: 74px;
    padding-left: 33px;
    padding-right: 23px;
    line-height: 26px;
    width: 252px;
    height: 56px;
}

.Logo__insight{
    margin-top: 17px;
    margin-left: 33px;
}

/* Menu list ul li*/

.Frame__list > li {
    display: flex;
    margin-bottom: 8px;
}

.Frame__list li{
    width: 100%;
    position: relative;
}

.Frame__list > li > a{
    color: #1E0D03;
    text-transform: uppercase;
}

.Frame__list  li  a {
    display: block;
    color: #1E0D03;
    width: 100%;
    opacity: .6;
}


.Frame__list .Sub__tag li:hover a,
.Frame__list > li:hover > a{
    width: 100%;
    color: #fff;
    background-color:#FFB800;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    opacity: 1;
    padding: 15px 16px 15px 24px;
    min-width: 100%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
}

.Frame__list > li:hover .Sub__tag {
    display: flex;
    padding: 8px 16px 0px 24px;
    justify-content: center;
    align-items: center;
    padding-left: 16px;
    width: 100%;
    position: absolute;
    top: 95%;
    left: 8%;
}

.Frame__list .Sub__tag{
    display: none;   
    list-style: none;
    text-align: center;
}

.icon{
    display: inline-block;
    padding: 5px 10px 5px 0px;
    opacity: .6;
    background: none;
    line-height: 26px;
}

