/* Container */
.Check__ticket{
    margin-right: 0;
}

/* Sub__content */
.Sub__content{
    position: absolute;
    display: flex;
    top: 54%;
    left: 0;
    min-width: 100%;
}

.Search--left{
    display: flex;
    margin-top: 32px;
    line-height: 26px;
    margin-left: 24px;
}

input[type="number"]{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #1E0D03;
}
/* Button */

.btn{
    position: absolute;
    top: 24%;
    right: 0;
    padding: 11px 0px;
    display: flex;
}

/* .Print__btn */
.Check__btn
{
    cursor: pointer;
    background-color: #FFFFFF;
    border: 1px solid #FF993C;
    /* margin-left: 10px; */
    border-radius: 6px;
    padding: 11px 24px;
    line-height: 26px;  
    color: #FF993C;
}

/* .Print__btn:hover */
.Check__btn:hover
{
    background-color: #FFB800;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
}

/* Table list check ticket */

.Table__list__check{
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 24px;
}