/* Navigation css */

.Navigation__content{
    position: relative;
    display: flex;
    justify-content: space-between;
}

.Content{
    padding: 24px 24px;
}

/* Sub__content */
.Sub__content{
    position: absolute;
    display: flex;
    top: 54%;
    left: 0;
    min-width: 100%;
}

.Search--left{
    display: flex;
    margin-top: 32px;
    line-height: 26px;
    margin-left: 24px;
}

/* Filter */

.Filter{
    position: absolute;
    top: 24%;
    right: 4%;
    padding: 11px 24px;
    display: flex;
}

/* .Filter__list{

    color: #FF993C;
} */

.Filter__btn,
.Print__btn{
    cursor: pointer;
    background-color: #FFFFFF;
    border: 1px solid #FF993C;
    margin-left: 10px;
    border-radius: 6px;
    padding: 11px 24px;
    line-height: 26px;
    color: #FF993C;
}

.Filter__icon{
    margin-right: 12px;
}

    /* .Filter__btn:hover,
    .Print__btn:hover{
        color: #FFFFFF;
        background-color: #FFB800;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
        color: #FFFFFF;
    } */

/* Table__list */
.Table__list{
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    margin: 31px 5px;
}

.Ticket__list{
    padding: 21px 24px;
    /* border-radius: 5px; */
}

.ant-table-pagination.ant-pagination {
    margin-top: 53px !important;
}

.ant-table-pagination-right {
    display: flex;
    justify-content: center !important;
}

.ant-pagination-item-active,
.ant-pagination-item-active a {
    font-weight: 500;
    background: #fff;
    border-color: #FF993C !important;
    color: #FF993C !important;
}

/* Modal */
