.btn{
    padding: 11px 0;
    display: flex;
    margin-right: 24px;
}

.Print__btn,
.Add__Ticket__btn
{
    cursor: pointer;
    background-color: #FFFFFF;
    border: 1px solid #FF993C;
    margin-left: 10px;
    border-radius: 6px;
    padding: 11px 24px;
    line-height: 26px;  
    color: #FF993C;
}

.Print__btn:hover,
.Add__Ticket__btn:hover
{
    background-color: #FFB800;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
}

.ant-space-item a {
    color: #FF993C;
    opacity: 1;
}