a:hover {
    color: #1E0D03;
}

.Content{
    padding: 24px 58px;
}

/* Chart */
.Chart {
    margin: 27px 55px 73px 0px;
}

.Header__chart{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.Content__chart{
    margin-left: 32px;
}

.Chart__table{
    margin-left: 32px;
    min-width: 100%;
}


.Date__picker--chart{
    justify-content: center;
    margin: 0 !important;
}


/* Content__family */

.Content__family
{
    /* position: absolute;
    top: 79%;
    margin-top: 40px; */
}

.Content__wapper{
    margin-left: 24px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
}

.Sub__content--family{
    line-height: 30px;
    margin-left: 24px;
}

.date-picker2 {
    margin-top: 63px !important;
    margin-left: 32px  !important;
}

/* Chart-family */

.Chart-family{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-direction: row;
}

.Sub__content--chart-family{

}

.Info__list{
    list-style: none;
}

.Info__list > li{
    display: flex;
    margin-right: 8px;
}

.Text__info{
    display: flex;
    margin-bottom: 16px;
    margin-left: 8px;
}

.Block{
    border: 1px solid #fff;
    width: 44px;
    height: 20px;
    border-radius: 4px;
}

.Block__used{
    background-color: var(--ellipse-2-color);
}

.Block__unused{
    background-color: var(--ellipse-3-color);
}