a:hover {
    color: #1E0D03;
}

.Content{
    padding: 24px 50px;
}

/* Chart */
.Chart {
    margin: 27px 55px 73px 24px;
}

.canvas{
    display: block;
    box-sizing: border-box;
    height: 500px;
    width: 100%;
}

.Header__chart{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.Content__chart{
    margin-left: 32px;
}

.Chart__table{
    margin-left: 32px;
    min-width: 100%;
}


.Date__picker--chart{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 63px;
}


/* Content__family */

.Content__family
{
    position: absolute;
    top: 79%;
    margin-top: 40px;
}

.date-picker2 {
    margin-left: 24px ;
}

.Content__wapper{
    margin-left: 26px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
}

.Sub__content{
    line-height: 30px;
    margin-left: 26px;
    font-size: 26px;
    font-weight: 700;
}