.Modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    background: rgba(0, 0, 0, 0.5);
    /* align-items: baseline; */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    border-radius: 24px;
}

.Modal__container {
    background-color: #fff;
    width: 634px;
    height: 454px;
    position: relative;
    display: flex;
    border-radius: 16px;
    /* animation: modalFadeIn ease-in-out .5s; */
}

/* 
@keyframes modalFadeIn {
    from{
        opacity: 0;
        transform: translateY(-140px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
} */

.Modal__container .Modal__body{
    flex: 50%;
}

.Title{
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 24px;
}

.Date__form{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Date__from{
    margin-left: 32px;
}

.Date__to{
    margin-right: 194px;
}

.Status__use{
    margin-top: 20px;
    margin-left: 32px;
}

.Status__use--modal{
    display: flex;
    /* align-items: center;
    justify-content: space-evenly; */
    flex-direction: row;
    -moz-user-select: none !important;
    -webkit-touch-callout: none!important;
    -webkit-user-select: none!important;
    -khtml-user-select: none!important;
    -moz-user-select: none!important;
    -ms-user-select: none!important;
    user-select: none!important;
}

.Radio__status {
    margin-top: 3px;
    padding-right: 30px;
}

.Radio__status input[type=radio] {
    position: absolute;
    opacity: 0;
}

.Radio-label{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.Radio__status input[type=radio] + .radio-label:before {
    content: "";
    background: #FFFFFF;
    border-radius: 100%;
    border: 1px solid #27AEF9;
    display: inline-block;
    width: 24px;
    height: 24px;
    position: relative;
    margin-right: 8px;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
}

.Radio__status input[type=radio]:checked + .radio-label:before {
    background-color: #3197EE;
    box-shadow: inset 0 0 0 4px #f4f4f4;
}

/* Gate Check-in */
.Gate__check-in{
    margin: 20px 32px 0;
}


.Check__group{
    -moz-user-select: none !important;
    -webkit-touch-callout: none!important;
    -webkit-user-select: none!important;
    -khtml-user-select: none!important;
    -moz-user-select: none!important;
    -ms-user-select: none!important;
    user-select: none!important;
}

.Check__label{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    opacity: .7;
}

.Checkbox__check-in{
    margin-bottom: 14px;
    display: grid;
    grid-template-columns: 24px auto;
    gap: 8px;
    transition: all 150ms ease;
    height: 24px;
    /* width: 24px; */
    font-size: 16px;
}

.Checkbox__check-in input[type="checkbox"]{
    cursor: pointer;
    border: 1px solid #27AEF9;
    background-color: #27AEF9;
    border-radius: 4px;
}

/* .Checkbox__check-in input[type="checkbox"]::before{
    content: "";
    border-radius: 4px;
    display: inline-block;
    margin-right: 8px;
    vertical-align: top;
    cursor: pointer;
    text-align: center;    
    border: 1px solid #27AEF9;
    background-color: #27AEF9;
} */

/* .Checkbox__check-in input[type="checkbox"]:checked + .Check__label::before{
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
    background: #FFFFFF;
} */

.Checkbox__check-in input[type="checkbox"]:disabled + .Check__label::before{
    background: #A5A8B1;
    border: 1px solid #A5A8B1;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Button */
.Modal__button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 26px;
}

.Find__btn--modal{
    color: #FF993C;
    border: 1px solid #FF993C;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11px 24px;
    gap: 10px;
    width: 160px;
    height: 48px;
    background-color: #FFFFFF;
    cursor: pointer;
}

.Find__btn--modal:hover{
    color: #FFFFFF;
    background-color: #FFB800;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
}