.Modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    background: rgba(0, 0, 0, 0.5);
    /* align-items: baseline; */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.Modal__container {
    background-color: #fff;
    width: 634px;
    height: 454px;
    position: relative;
    display: flex;
    border-radius: 16px;
    /* animation: modalFadeIn ease-in-out .5s; */
}

/* 
@keyframes modalFadeIn {
    from{
        opacity: 0;
        transform: translateY(-140px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
} */

.Modal__container .Modal__body{
    flex: 50%;
}

.Title{
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 24px;
}

.Date__form{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Date__from{
    margin-left: 32px;
}

.Date__to{
    margin-right: 194px;
}

.Status__use{
    margin-top: 20px;
    margin-left: 32px;
}

.Status__use--modal{
    display: flex;
    /* align-items: center;
    justify-content: space-evenly; */
    flex-direction: row;
}

.Radio__status {
    margin-top: 3px;
    padding-right: 30px;
}

.Radio__status input[type=radio] {
    position: absolute;
    opacity: 0;
}

.Radio-label{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.Radio__status input[type=radio] + .radio-label:before {
    content: "";
    background: #FFFFFF;
    border-radius: 100%;
    border: 1px solid #27AEF9;
    display: inline-block;
    width: 24px;
    height: 24px;
    position: relative;
    margin-right: 8px;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
}

.Radio__status input[type=radio]:checked + .radio-label:before {
    background-color: #3197EE;
    box-shadow: inset 0 0 0 4px #f4f4f4;
}

/* Gate Check-in */
.Gate__check-in{
    margin: 20px 32px 0;
}


/* Footer */
.Footer__modal{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

