*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    height: 100%;
    background-color: #F9F6F4;
}

:root{
    --tags-color: #FFB800;
    --input-color: #EDE6E6;
    --ellipse-2-color: #4F75FF;
    --ellipse-3-color: #FF8A48;
}

.Bold-18{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
/* identical to box height, or 144% */
}

.Medium-18{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height, or 144% */
    letter-spacing: 0.015em;
}

.Color-text{
    color: #1E0D03;
    opacity: 0.6;
}


