*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    height: 100%;
    background-color: #F9F6F4;
}

:root{
    --tags-color: #FFB800;
    --input-color: #EDE6E6;
    --ellipse-2-color: #4F75FF;
    --ellipse-3-color: #FF8A48;
}

.Bold-18{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
/* identical to box height, or 144% */
}

.Bold-36{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
}

.Medium-18{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height, or 144% */
    letter-spacing: 0.015em;
}

.Semibold-18{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
}

.Medium-14{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
}

.Bold-24{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

.Color-text{
    color: #1E0D03;
    opacity: 0.6;
}

/* Container for all component */
.Container{
    position: relative;
    background-color: #FFFFFF;
    margin-top: 20px;
    min-height: 1080px;
    margin-right: 32px;
    border-radius: 24px;
    margin-bottom: 32px;
}

